# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Home directory stuff
.profile
.bash*
.ssh*


# Data directory
data/*

# Live config files
conf/*.conf

# Log files
log/*
